div, form {
    height: 35vh;
    
}
div {
    border: black solid 1px;

}
p{
    color: black;
    padding: 0.5 em;
    margin: 0.5em;
}

.cold {
    background: rgb(190, 190, 226);
}
.hot {
    background: rgb(241, 115, 115);
}
.win {
    background: rgb(138, 218, 138);
}
#message {
    max-width: 960px;
    margin: 0 auto;
}
input {
    height: 2em;
}
#links {
    position: absolute;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
}
footer {
    margin-bottom: 100px;
}
.footer-social {
    border-width: 0;

}
form {
    max-width: 960px;
    margin: 0 auto;
}